# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variables file
.env

# Ignore environment variables file
venv.env

# Ignore log files
*.log

# Ignore virtual environment
venv/

#ignore .vscode
.vscode